<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ROTC Uniform Tracker{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<nav class="navbar navbar-dark bg-dark px-3">
    <span class="navbar-brand mb-0 h1">ROTC Uniform Tracker</span>
    <div><a href="/">Home</a></div>
    <div><a href="/upload">Upload/Download Uniform Data</a></div>
    <div><a href="/cadets">Cadets</a></div>
    <div><a href="/inventory">Supply Inventory</a></div>
    <div><a href="/requests">Uniform Requests</a></div>
    <div><a href="/approve"> Requests</a></div>
</nav>

<div class="container mt-4">
    {% block content %}
<img src="{{ url_for('static', filename='images/det520.png') }}"
     class="mx-auto d-block"
     width="300">
    {% endblock %}
</div>

</body>
</html>
