{% extends "base.html" %}

{% block content %}
<h2>Uniform Inventory</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Item Type</th>
            <th>Size</th>
            <th>Condition</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.item_type }}</td>
            <td>{{ item.size }}</td>
            <td>{{ item.condition }}</td>
            <td>{{ item.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
